@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --bg-color: #F3F2F7;
  --color: black;
  --pref-box-bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(28, 28, 30);
    --color: white;
    --pref-box-bg: rgb(44, 44, 46);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;;
  font-weight: 300;
}

img {
  width: 100%;
}
