@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --bg-color: #F3F2F7;
  --color: black;
  --pref-box-bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(28, 28, 30);
    --color: white;
    --pref-box-bg: rgb(44, 44, 46);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;;
  font-weight: 300;
}

input {
  font-size: inherit;
  font-family: inherit;
}

.container {
  margin: 2em auto;
  max-width: 32em;
  opacity: 1;
  animation: animate-in 0.1s ease-in;
}

@keyframes animate-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.container h1, .container h2 {
  font-weight: normal;
}

.license {
  padding: 2em 0;
}

h2.title {
  margin: 1em;
  font-size: 0.9em;
  opacity: 0.8;
  flex: 1;
  text-transform: uppercase;
}

.pref-box {
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: var(--pref-box-bg);
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pref-box .pref-row {
  padding: 1em 1.5em;
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  gap: 1em;
}

.pref-box .pref-row:last-child {
  border-bottom: none;
}

.pref-box .pref-row input {
  width: 2.5em;
  text-align: right;
}

.pref-box .pref-row input[type="checkbox"] {
  height: 1.5em;
}

.pref-box .pref-row .label {
  flex: 1;
  color: inherit;
  text-decoration: none;
}

.pref-desc {
  margin: 0;
  margin-top: 0.5em;
  font-size: 0.8em;
  opacity: 0.5;
  text-transform: none;
}

.pref-box .channel-row img {
  height: 2em;
  border-radius: 1em;
}

.channel-btns {
  display: flex;
  margin-top: 1em;
}

.channel-btns input {
  flex: 1;
  padding: 0.75em;
}

.channel-btns button {
  padding: 0.75em;
  font-size: 1em;
}

.channel-pref-header {
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: var(--pref-box-bg);
  padding: 1em;
  display: flex;
  align-items: center;
  text-align: center;
}

.channel-logo {
  width: 3em;
  border-radius: 1.5em;
}

.back-btn {
  border: none;
  color: inherit;
  border-radius: 50%;
  background: rgba(255,255,255, 0.1);
  width: 3em;
  aspect-ratio: 1;
  font-family: monospace;
  cursor: pointer;
}

.channel-pref-title {
  flex: 1;
}
